.about_div {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* width: 100vw; */
  height: calc(100vh - 60px);
  flex-flow: column;
  padding: 20px 0;
  justify-content: center;
}
.about_content {
  display: flex;
  flex-flow: column;
  max-height: calc(100vh - 160px);
  overflow: auto;
  width: 90vw;
  padding: 4px 3px;
  background-color: rgba(201, 196, 182, 0.8);
  text-align: center;
  box-shadow: 2px 1px 4px 8px rgba(0, 0, 0, 0.12),
    3px 1px 9px 2px rgba(0, 0, 0, 0.24);
}
.about_img {
  display: block;
  width: 250px;
  height: auto;
  align-self: center;
}

.about_h2 {
  padding: 10px 0;
}

.about_p {
  padding-bottom: 10px;
}

.about_content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.about_content::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.about_content::-webkit-scrollbar-thumb {
  background-color: #000;
}

@media (min-width: 768px) {
  .about_content {
    max-width: 90vw;
    padding: 25px;
    max-height: calc(100vh - 60px);
  }
  .about_img {
    max-width: 400px;
    align-self: center;
  }
  .about_div {
    padding: 20px 0;
  }
}

@media (min-width: 1024px) {
  .about_content {
    max-width: 900px;
  }
}
