.modal_main_div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_div_children {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 320px;
  height: 80vh;
  border-radius: 20px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .modal_div_children {
    width: 700px;
    height: 80vh;
  }
}
@media (min-width: 1024px) {
  .modal_div_children {
    width: 900px;
    height: 80vh;
  }
}
