.navigation_div {
  display: flex;
  justify-content: center;
  background-color: rgb(201, 196, 182);
  background-size: cover;
  width: 100vw;
}
.nav_ul {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-self: center;
  width: 90vw;
  height: 60px;
  border: 1px solid red;
  padding: 20px 40px;
  list-style: none;
}

.nav_ul .active {
  color: rgb(255, 255, 255);
}

.nav_link {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .nav_ul {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-self: center;
    width: 900px;
    border: 1px solid red;
    padding: 20px 40px;
  }
}
